@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@layer base {
  h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
  }

  h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 50px;
    letter-spacing: -0.01em;
  }

  h3 {
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
  }

  h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }

  p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
  }

  small {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
  }

  .masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }

  input[type="file"]::file-selector-button {
    @apply p-2 bg-codeday text-white rounded-md hover:text-codeday  transition ease-in-out cursor-pointer border-0 hover:bg-gray-100;
  }

  .masonry-grid_column > div {
    margin-bottom: 30px;
  }
}
